@model IEnumerable<Entities.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                    <a class="btn btn-primary" href="/Category/Edit/@item.id"> Güncelle</a>
                    @Html.ActionLink("Sil","Delete", "Category", new { id = item.id }, new { @class = "btn btn-danger", data_id = @item.id ,onclick = "confirmDelete(this.href); return false;"})
               
            </td>
        </tr>
}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<script>
    function confirmDelete(link) {
        Swal.fire({
            title: 'Emin misiniz?',
            text: "Silme işlemi geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
              
                // Silme işlemi devam edecek
                window.location.href = link;
            }
        })
    }
</script>
